:root {
  /* colors */
  --danger: 200, 60, 60;
  --info: 60, 130, 200;
  --success: 60, 200, 130;
  --warning: 200, 130, 60;
  --link: var(--text-color);

  /* shadows */
  --card-shadow: 0 0 5px -1px rgb(var(--color-shadow));

  /* measurements */
  --radius: 6px;
  --spacing: calc(50px + 2vw);

  /* light-mode */
  & {
    /*  colors */
    --body: 225, 225, 225;
    --color-shadow: 170, 170, 170;
    --contrast-1: 240, 240, 240;
    --contrast-2: 255, 255, 255;
    --text-color: 30, 30, 30;
    --primary: 15, 15, 15;
  }

  /* dark-mode */
  &[theme="dark"] {
    /* colors */
    --body: 30, 30, 30;
    --color-shadow: 85, 85, 85;
    --contrast-1: 45, 45, 45;
    --contrast-2: 75, 75, 75;
    --text-color: 225, 225, 225;
    --primary: 240, 240, 240;
  }
}
