@import "../functions/size";

$measures: (
  border-radius: (
    default: 6px,
  ),
  size: (
    section-default: section(1, "multaiply"),
    container-default: calc(var(--size-default) * 15),
  ),
  transition: (
    default: 200ms ease,
  ),
);
