@import "../functions/size";

$measures: (
  border-radius: (
    default: 6px,
  ),
  size: (
    section-default: section(1, "multiply"),
    container-default: section(15, "multiply"),
  ),
  transition: (
    default: 200ms ease,
  ),
);
