@function contrast-value($multiplier, $color) {
  $contrasted-color: ();
  $contrast-value: 6;

  @each $value in $color {
    $contrasted-color: append($contrasted-color, calc($value - ($contrast-value * $multiplier)));
  }

  @return $contrasted-color;
}
