*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: unset;
}

html {
  transition: 0.2s ease-in-out;
  scroll-behavior: smooth;
  color: rgb(var(--color-text));
  accent-color: rgb(var(--color-primary));
}

body {
  font-family: "Montserrat";
  background-color: rgb(var(--color-background));
}

main {
  margin: {
    top: calc(var(--spacing) / 2);
    bottom: calc(var(--spacing) / 2);
  }
}

section:not(:last-child) {
  margin-bottom: var(--spacing);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

span {
  display: inline-block;
}

small {
  font-size: 0.8em;
}

img {
  max-width: 100%;
}

button {
  all: inherit;
}
