@import "../mixins/breakpoints";

html {
  @include max($mobile) {
    font-size: 14px;
  }

  @include min($desktop) {
    font-size: 16px;
  }
}

h1 {
  font-weight: 500;

  @include max($desktop) {
    font-size: 1.4rem;
  }

  @include min($desktop) {
    font-size: 1.8rem;
  }
}

h2 {
  font-weight: 400;

  @include max($desktop) {
    font-size: 1.3rem;
  }

  @include min($desktop) {
    font-size: 1.6rem;
  }
}

h3 {
  font-weight: 400;

  @include max($desktop) {
    font-size: 1.2rem;
  }

  @include min($desktop) {
    font-size: 1.4rem;
  }
}

h4,
caption {
  font-weight: 400;

  @include max($desktop) {
    font-size: 1.1rem;
  }

  @include min($desktop) {
    font-size: 1.2rem;
  }
}

th {
  font-weight: 600;
}
